#red-rock {
  display: inline;
}

#red-paper {
  display: none;
}

#red-scissors {
  display: none;
}

#blue-rock {
  display: inline;
}

#blue-paper {
  display: none;
}

#blue-scissors {
  display: none;
}

.red-choice {
  position: absolute;
  left: 0px;
  padding-top: 140px;
}

.blue-choice {
  position: absolute;
  right: 0px;
  padding-top: 140px;
}

.versus {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.header {
  text-align: center;
}

.footer {
  text-align: center;
}

.temp {
  height: 600px;
}