#red-rock {
  display: inline;
}

#red-paper {
  display: none;
}

#red-scissors {
  display: none;
}

#blue-rock {
  display: inline;
}

#blue-paper {
  display: none;
}

#blue-scissors {
  display: none;
}

.red-choice {
  position: absolute;
  left: 0px;
  padding-top: 140px;
}

.blue-choice {
  position: absolute;
  right: 0px;
  padding-top: 140px;
}

.red-score {
  position: absolute;
  left: 20px;
  padding-top: 240px;
  font-size: 40;
  color: white;
}

.blue-score {
  position: absolute;
  right: 20px;
  padding-top: 240px;
  font-size: 40;
  color: white;
}

.versus {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.header {
  text-align: center;
}

.footer {
  text-align: center;
}

.action {
  height: 600px;
}

#messages {
  height: 26px;
}

.dummy-row {
  height: 34px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}